#owl-demo /* .slide-img img */{
  display: block;
  width: 100%;
  //max-height: 75%;

}

.slide {
  width: 100%;
  height: 75%;

  
  // this is the gradient - check udemy course to see if there is a better
  &:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(to bottom right,rgba(35, 35, 35, .9 ),rgba(35, 35, 35, .6));
    //opacity: .6; 
    
    }

// there should be a way to set the background properties to the .slide and have .img-1 inherit but i dont know what
  &-img-1 {
    background-size: inherit;
    background: url('/images/slider-1.jpg') ;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  &-img-2 {
    background-size: inherit;
    background: url('/images/slider-2.jpg') ;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  &-img-3 {
    background-size: inherit;
    background: url('/images/slider-4.jpg') ;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }


  &-text{
    position: absolute;
    top: 25%;
    left: 25%;
    color: $color-white;
    background-color: rgba($color-white, .1);
    border: 3px solid $color-white;
    padding: 4rem;
    width: 50%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    
}
}

.slider-btn-container {
     margin-top: 2rem;

        display: flex;
        justify-content: center;
}


//i need to add a media queries so that on mobile/tablet image only take up 50%

@media only screen and (max-width: 980px) {
  .slide {
    width: 100%;
    height: 50%;

    // need to add positioning for the text box/text for mobile devices
    &-text {
      position: absolute;
      left: 50%;
      top: 55%;
      transform: translate(-50%,-50%);

      width: 85%;
      height: 65%;

      color: $color-white;
      border: 3px solid $color-white;
      padding: 3rem;

    
      
    }
  }

  .slider-btn-container {
       display: flex;
       justify-content: center;
}

}

@media only screen and (max-width: 980px) {

  .slide {
    height: 85%;
  }

}
