// COLOURS
$color-primary: #222222;
$color-secondary: #ED1F24;

$color-white: #F5F5F5;
$color-black: #0d0e0f;

$color-grey-light: rgba(244,244,244,1);
$color-grey-dark: rgba(50,50,50,1);
$color-grey-medium: rgb(110, 110, 110);

$color-nav-background: rgba(175,175,175,1);
